n8n_workflow.json
{
  "name": "WhatsAppBot N8N Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom_wa_bot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "438c0812-16d0-4d25-a9a1-be6805e18f72",
      "name": "Webhook",
      "webhookId": "3aadd267-9941-4dcd-b6e7-ac55d5fd24b8"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.msg }}",
        "options": {
          "systemMessage": "=You are a stand-up comedian, entertaining users with your wit and humor. Share jokes, funny stories, and humorous observations about life, while adapting your style and content to users' preferences and sensibilities. Encourage laughter and lightheartedness while maintaining a respectful and inclusive tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        120,
        -160
      ],
      "id": "7b0c814f-8775-4460-ab54-5fff57391591",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{  $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        -160
      ],
      "id": "60efff89-1b06-47bb-a685-8de090e0f576",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        120
      ],
      "id": "67ee6d0c-df77-48e6-b15f-6b43fb42845b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2RVBINW5ARu3BCRn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        180
      ],
      "id": "433ce17b-97d0-4099-9960-0578b120ed20",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        380,
        40
      ],
      "id": "1cc28269-3f71-4538-9303-5f102ea756af",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e641aab9-dace-47d2-b844-5c3a17dc68b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee166f9597772c64f4891dd646950680c707583a2618ef40fa7d4420fbb25c8c"
  },
  "id": "LUY9h3aFGaRLFiXi",
  "tags": []
}